<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabb.dao.UserDao">

    <insert id="addUser">
        insert into ssm_user(id,name,age) values (#{user.id},#{user.name},#{user.age})
    </insert>

    <select id="findUserById" resultType="com.cabb.model.po.User">
        select * from ssm_user where id = #{userId}
    </select>

    <!---->
    <select id="findUserByName" resultType="com.cabb.model.po.User">
        select * from ssm_user where name = #{username}
    </select>
</mapper>