<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:source.properties"/>

    <bean id="xxlJobSpringExecutor" class="com.xxl.job.core.executor.impl.XxlJobSpringExecutor">
        <!--执行器注册中心地址【选填】，为空则自动关闭自动注册-->
        <property name="adminAddresses" value="${xxl.job.admin.addresses}" />
        <!--执行器AppName【选填】-->
        <property name="appname" value="${xxl.job.executor.appname}" />
        <!--执行器Ip【选填】-->
        <property name="ip" value="${xxl.job.executor.ip}" />
        <!--执行器Port【选填】-->
        <property name="port" value="${xxl.job.executor.port}" />
        <!--执行器AccessToken【选填】-->
        <property name="accessToken" value="${xxl.job.accessToken}" />
        <!--执行器LogPath【选填】-->
        <property name="logPath" value="${xxl.job.executor.logpath}" />
        <!--执行器LogRetentionDays【选填】-->
        <property name="logRetentionDays" value="${xxl.job.executor.logretentiondays}" />

    </bean>

    <context:component-scan base-package="com.cabb.util.job"/>

</beans>